/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
    --branding-color:#212121;
    --secondary-color:white; 
}

body {
    background:var(--branding-color);
}

h1 {
    color: var(--secondary-color);
font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

img {
    max-width: 100%;
}



.hero {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 160px 0;
}

.hero p {
font-size: 18px;
    color: var(--secondary-color);
    font-weight: 400;
}

.hero h2{
    font-size: 24px;
    color: var(--secondary-color);
    letter-spacing: 0.1em;
}

.btn-branding {
    background-color: var(--secondary-color) !important;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    width: 200px;
    height: 53px;
    letter-spacing: 0.1em;
}



.navbar {
    background-color: var(--branding-color) !important;
    color: var(--secondary-color) !important;
}

.navbar-text,
.navbar-brand,
.navbar-nav,
.nav-link {
    color: var(--secondary-color);
}

.nav-link.active{
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

li a:hover {
    color: var(--secondary-color) !important;
    text-decoration: underline;
    
}

.navbar-brand:hover{
color: var(--secondary-color) !important;
    text-decoration: underline;

}

.footer{
    color: var(--secondary-color);
    padding: 30px;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: var(--secondary-color) !important;
    
}



@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 18px !important;
    }

    p {
        font-size: 10px !important;
    }

    img {
        max-width: 50%;
        padding-top: 10px;
    }

    footer {
        padding-bottom: 50px;
        text-align: center;
    }

}